header ul{

    list-style: none;
}


header img{

    width: 400px;
    margin-top: 30px;
    margin-left: 20px;

}

header ul img{

    width: 200px;
    margin: 0;
    padding: 0;
    

    
}

header ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    
}

header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-right: 40px;
}


.container{
    display: flex;
    flex-wrap: wrap;    
}

.educacion{
    margin-top: 30px;
    

}