body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    color: rgb(196, 184, 23);
    padding: 90px 20px 0px;
    background: #c94b4b; 
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  
    background: linear-gradient(to right, #4b134f, #c94b4b); 

}

nav{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.navbar li{
    margin-right: 20px;
}


.navbar a{
    text-decoration: none;
    color:white
}

.navbar li:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}

.navbar a:hover{
    color: blueviolet;
}

header img{
    width: 400px;
    margin-top: 30px;
    border-radius: 2rem;
    
}

header{
   display: flex;
   justify-content: space-evenly; 
}

.foto-presentacion{
    text-align: center;
    margin-right: 20px;
}


.container{
    display: flex;
    flex-direction: column;
       
}

.educacion{
    margin-top: 30px;
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(255,128,255, 0.4);

}

.experiencia{
    margin: 20px;
    color: #0f0c29;

}

.experiencia h3{
    text-align: center;
    font-size: 30px;
}

.datos-experiencia p{
    border: solid;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px rgba(255,128,255, 0.4);
    padding: 1rem;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC); 
}

.datos-experiencia{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

footer ul{
    list-style: none;
}

footer ul img{

    width: 200px;
    margin: 0;
    padding: 0; 
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

footer li:hover{
    transform: scale(1.2);
    transition: all 0.3s;

}

footer{
    text-align: center;
    font-size: 30px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: rgb(196, 184, 23);
}

@media (min-width:1477px){
    .datos-experiencia{
        grid-template-columns: repeat(4, minmax(17rem, 1fr));

    }
}

@media (max-width:900px){
    header{
        flex-wrap: wrap;
    }

    .foto-presentacion{
        margin-left: 40px;
    }

    footer ul{
        flex-wrap: wrap;
        gap: 1rem;
    }

}

