body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: rgb(30, 84, 201);
    color: white;
}

footer ul{

    list-style: none;
}


header img{

    width: 400px;
    margin-top: 30px;
    

}

footer ul img{

    width: 200px;
    margin: 0;
    padding: 0;
    

    
}

footer ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    
}

header{
    text-align: center;
    
}


.container{
    display: flex;
    flex-wrap: wrap;    
}

.educacion{
    margin-top: 30px;
    

}